!!! 5
html
  head
    base(href="/")
    meta(charset="utf-8")
    block head_title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block css
  body
    block content
    block js

//- vi:et:sw=2:sts=2
